body {
  font-family: "Lucida Grande", Helvetica, sans-serif;
}
body>div::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
section {
  display: block;
  float: left;
  margin: 0.5em;
  padding: 0.5em;
  border: solid 4px #ddd;
}
section h2:first-child {
  margin-top: 0;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  color: #777;
}
section table, section ul {
  border-collapse: collapse;
  margin: auto;
}
section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button, button[disabled] {
  border:1px solid #ccc;
  color: #777;
  background-color: white;
  border-radius:2px;
}
button:hover {
  cursor:pointer;
}
button:focus {
  outline:none;
  box-shadow: 0 0 1px 0px rgba(0,0,0,.6);
}
section li button,
section li button[disabled]{
  display: block;
  margin: 0.5em auto;
  width: 4em;
}
section li button.stop {
  color: red;
}
tr {
  border: solid 1px black;
}
tr>* {
  padding: 6px;
  text-align: center;
}
th {
  font-family: monospace;
}
th.active {
  background-color: red;
}
td:nth-child(2) {
  font-size: 150%;
  opacity: 0.6;
}
button[disabled], button[disabled]:hover {
  text-decoration: line-through;
  background-color: #F1F1F1;
  cursor:default;
}

td.red { color: red; }
td.green { color: green; }
td.blue { color: blue; }
td.orange { color: orange; }

section li button.btn-red { border: 2px solid red; }
section li button.btn-green { border: 2px solid green; }
section li button.btn-blue { border: 2px solid blue; }
section li button.btn-orange { border: 2px solid orange; }